#carrusel {
  display:flex;
  justify-content: space-evenly;

  border: 3px;
  border-color: white;
  border-style: solid;
}


.carru {
  display:flex;
  /*justify-content: space-evenly;*/
  border: 3px;
  border-color: white;
  border-style: solid;
}