.form {
  display: flex;
  justify-content: space-evenly;
  border: 2px;
  border-color: rgb(17, 189, 74);
  border-style: solid;
  padding: 24px;
}

.formularioLogin .formularioRegister {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formBox {
  flex-direction: column;
}