body {
  font-family: Inter;
  font-size: 16px;
}

.cabecera{
  display: flex;
  justify-content: center;
}

.navegacion {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color:dimgray;
  color: white;
  margin-bottom: 124px;
}

.navegacion ul {
  padding: 0;
}

nav li {
  display: inline-block;
  text-decoration: none;
  margin-right: 16px;
}

.carrusel ul{
  display: flex;
  justify-content:space-evenly;
  text-decoration: none;
}

.pie {
 display: flex;
 justify-content: center;
 background-color: dimgray;
 color: white;
 padding:8px;
 margin-top: 124px;
}