body {
  font-family: 'Inter', sans-serif;
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 18px;
  background-color: black;
  color: rgb(17, 189, 74);
}

.cabecera{
  display: flex;
  justify-content: center;
  border: 4px;
  border-color: rgb(17, 189, 74);
  border-style:solid;
  border-radius: 24px 24px 0px 0px;
  margin: 16px 0px;
}

.navegacion {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 124px;
  border-style: solid;
}

.navegacion ul {
  padding: 0;
}

nav li {
  display: inline-block;
  text-decoration: none;
  margin-right: 16px;
}

.carrusel{
  display: flex;
  justify-content:space-evenly;
  text-decoration: none;
}

.pie {
 display: flex;
 justify-content: center;
 padding:8px;
 margin-top: 124px;
 border-style: solid;
}